<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
		<script src="/static/bower_components/webcomponentsjs/webcomponents.min.js"></script>
		<link rel="import" href="/static/bower_components/polymer/polymer.html">
		<link rel="import" href="/static/bower_components/core-toolbar/core-toolbar.html">
		<link rel="import" href="/static/bower_components/paper-tabs/paper-tabs.html">
		<link rel="import" href="/static/bower_components/font-roboto/roboto.html">
		<link rel="import" href="/static/bower_components/core-ajax/core-ajax.html">
		<link rel="import" href="/static/bower_components/app-router/app-router.html">
		<link rel="import" href="/static/bower_components/core-a11y-keys/core-a11y-keys.html">
		<link rel="import" href="/static/bower_components/login-box/login-box.html">
		
		

    </head>
<styles>
<link rel="stylesheet" href="/static/css/metaflask.css">
</styles>
{% raw %}
 <body unresolved>
<template id="loginTemplate" is="auto-binding" >


<core-toolbar>
       		<span>MetaFlask</span>
</core-toolbar>



<login-box heading="Please Login" identifier="{{test.user}}" password="{{test.pass}}"> </login-box>


<core-ajax id="ajax" method="POST" url="/login" body='{"u":"{{test.user}}", "p":"{{test.pass}}"}' contentType="application/json" headers='{"X-Requested-With": "XMLHttpRequest"}' params='{"next":"/"}' on-core-response="{{ajaxResponse}}"> </core-ajax>


<script>
(function() {
var logintemp = document.querySelector('#loginTemplate');

logintemp.test = {};

var loginBox = document.querySelector('login-box');
loginBox.addEventListener('login-box-login-try', function(e) {
logintemp.test = {user: e.detail.identifier, pass: e.detail.password} ;

logintemp.$.ajax.go();
alert(logintemp.test.user + logintemp.test.pass);
});

})();
</script>


</template>



</body>
{% endraw %}
</html>